body {
  background: #f95959;
}

#start {
  background-color: red;
  font: black;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#timer {
  color: black;
  text-align: center;
  font-size: 140px;
}

#parteprincipal {
  display: block;
  position: relative;
}
